<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Scraper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>Job Scraper</h1>
        <form action="/search">
            <label for="query">
                <input type="text" name="query" placeholder="보유 기술스택을 검색해주세요." />
            </label>
            <button class="outline">검색</button>
        </form>
    </main>
</body>
</html>