<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Scraper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container">
        <hgroup>
            <a href="/export?query={{query}}" target="_blank" role="button" class="secondary outline">CSV</a>
        </hgroup>
        <table role="grid">
            <thead>
                <tr>
                    <th>포지션</th>
                    <th>회사</th>
                    <th>위치</th>
                    <th>상세보기</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{job.title}}</td>
                    <td>{{job.company}}</td>
                    <td>{{job.location}}</td>
                    <td><a href="{{job.link}}" target="_blank" role="button">&rarr;</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>